@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'),
        local('Poppins-Regular'),
        url('./../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'),
        local('Poppins-Bold'),
        url('./../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: local('Poppins Black'),
        local('Poppins-Black'),
        url('./../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoSlab';
    src: local('RobotoSlab Bold'),
        local('RobotoSlab-Bold'),
        url('./../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoSlab';
    src: local('RobotoSlab ExtraBold'),
        local('RobotoSlab-ExtraBold'),
        url('./../fonts/RobotoSlab-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'RobotoSlab';
    src: local('RobotoSlab Black'),
        local('RobotoSlab-Black'),
        url('./../fonts/RobotoSlab-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


