html{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
:root{
    --font-family-base: 'Poppins', sans-serif;
    --font-family-alt: 'RobotoSlab',cursive, serif;
    --primary-color: #F14216;
    --secondary-color: #552D10;
    --secondary-15-color: rgba(85, 45, 16, .15);
    --red: #ff1c1c;
    --body-text-color: #232323;
    --body-bg-color: #F9F5F2;
    --default-color: #a9a9a9;
}
body{
    margin: 0;
    background-color: var(--body-bg-color);
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--body-text-color);
}
button{
   font-family: inherit; 
   font-size: inherit;
   border: none;
   cursor: pointer;
}

h1, 
h2,
h3{
    font-family: var(--font-family-alt);
    font-weight: 900;
}
h1, 
h2,
h3,
p{
    margin-top: 0;
}
a{
    color: inherit;
}
img,
svg{
    vertical-align: middle;
}
.w-100{
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
.text-center{
    text-align: center;
}