.form-label{
    display: inline-block;
    font-size: 0.75rem;
    color: var(--secondary-color);
    margin-bottom: 8px;
    font-weight: 600;
}
.control{
    display: block;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    border: 1px solid #988578;
    background-color: #FFFFFF;
    border-radius: 5px;
    outline: none;
    &:focus{
        border-color: var(--secondary-color);
    }
    &.invalid{
        border-color: var(--red);
    }
}
.control-error-message{
    margin: 0;
    margin-top: 5px;
    color: var(--red);
    font-size: 0.875rem;
}